<div class="footer">
	<div class="container">
		<div class="footer__container">
			<div class="footer__column footer__column--copyright">
				&copy; Sunlit real estate © 2024 
			</div>
			<div class="footer__column footer__column--design-studio">
				<a href="#">Design by:Брендинговоеагентство «ЫТЬ!»</a>
			</div>
			<div class="footer__column footer__column--privacy-policy">
				<a href="#">Политика конфиденциальности</a>
				<a href="#">Условия пользования</a>
			</div>
		</div>
	</div>
</div>