<section class="scrolled">
	<div class="scrolled__block">
		<div class="scrolled__content">
			<div class="scrolled__line">
				<div class="scrolled__line-content">
					<div class="scrolled__item">
						<img src="img/scrolled/4.svg" alt="partner logo">
					</div>
					<div class="scrolled__item">
						<img src="img/scrolled/5.svg" alt="partner logo">
					</div>
					<div class="scrolled__item">
						<img src="img/scrolled/1.svg" alt="partner logo">
					</div>
					<div class="scrolled__item">
						<img src="img/scrolled/rove.svg" alt="partner logo">
					</div>
					<div class="scrolled__item">
						<img src="img/scrolled/2.png" alt="partner logo">
					</div>
					<div class="scrolled__item">
						<img src="img/scrolled/samana.png" alt="partner logo">
					</div>
					<div class="scrolled__item">
						<img src="img/scrolled/3.png" alt="partner logo">
					</div>
					<div class="scrolled__item">
						<img src="img/scrolled/anax.svg" alt="partner logo">
					</div>
					<div class="scrolled__item">
						<img src="img/scrolled/damac.svg" alt="partner logo">
					</div>
					<div class="scrolled__item">
						<img src="img/scrolled/dar.svg" alt="partner logo">
					</div>
					<div class="scrolled__item">
						<img src="img/scrolled/guru.png" alt="partner logo">
					</div>
					<div class="scrolled__item">
						<img src="img/scrolled/mints.svg" alt="partner logo">
					</div>
					<div class="scrolled__item">
						<img src="img/scrolled/omni.svg" alt="partner logo">
					</div>
					<div class="scrolled__item">
						<img src="img/scrolled/rove.svg" alt="partner logo">
					</div>
					<div class="scrolled__item">
						<img src="img/scrolled/samana.png" alt="partner logo">
					</div>
				</div>
				<div class="scrolled__line-content">
					<div class="scrolled__item">
						<img src="img/scrolled/4.svg" alt="partner logo">
					</div>
					<div class="scrolled__item">
						<img src="img/scrolled/5.svg" alt="partner logo">
					</div>
					<div class="scrolled__item">
						<img src="img/scrolled/1.svg" alt="partner logo">
					</div>
					<div class="scrolled__item">
						<img src="img/scrolled/rove.svg" alt="partner logo">
					</div>
					<div class="scrolled__item">
						<img src="img/scrolled/2.png" alt="partner logo">
					</div>
					<div class="scrolled__item">
						<img src="img/scrolled/samana.png" alt="partner logo">
					</div>
					<div class="scrolled__item">
						<img src="img/scrolled/3.png" alt="partner logo">
					</div>
					<div class="scrolled__item">
						<img src="img/scrolled/anax.svg" alt="partner logo">
					</div>
					<div class="scrolled__item">
						<img src="img/scrolled/damac.svg" alt="partner logo">
					</div>
					<div class="scrolled__item">
						<img src="img/scrolled/dar.svg" alt="partner logo">
					</div>
					<div class="scrolled__item">
						<img src="img/scrolled/guru.png" alt="partner logo">
					</div>
					<div class="scrolled__item">
						<img src="img/scrolled/mints.svg" alt="partner logo">
					</div>
					<div class="scrolled__item">
						<img src="img/scrolled/omni.svg" alt="partner logo">
					</div>
					<div class="scrolled__item">
						<img src="img/scrolled/rove.svg" alt="partner logo">
					</div>
					<div class="scrolled__item">
						<img src="img/scrolled/samana.png" alt="partner logo">
					</div>
				</div>
				<div class="scrolled__line-content">
					<div class="scrolled__item">
						<img src="img/scrolled/4.svg" alt="partner logo">
					</div>
					<div class="scrolled__item">
						<img src="img/scrolled/5.svg" alt="partner logo">
					</div>
					<div class="scrolled__item">
						<img src="img/scrolled/1.svg" alt="partner logo">
					</div>
					<div class="scrolled__item">
						<img src="img/scrolled/rove.svg" alt="partner logo">
					</div>
					<div class="scrolled__item">
						<img src="img/scrolled/2.png" alt="partner logo">
					</div>
					<div class="scrolled__item">
						<img src="img/scrolled/samana.png" alt="partner logo">
					</div>
					<div class="scrolled__item">
						<img src="img/scrolled/3.png" alt="partner logo">
					</div>
					<div class="scrolled__item">
						<img src="img/scrolled/anax.svg" alt="partner logo">
					</div>
					<div class="scrolled__item">
						<img src="img/scrolled/damac.svg" alt="partner logo">
					</div>
					<div class="scrolled__item">
						<img src="img/scrolled/dar.svg" alt="partner logo">
					</div>
					<div class="scrolled__item">
						<img src="img/scrolled/guru.png" alt="partner logo">
					</div>
					<div class="scrolled__item">
						<img src="img/scrolled/mints.svg" alt="partner logo">
					</div>
					<div class="scrolled__item">
						<img src="img/scrolled/omni.svg" alt="partner logo">
					</div>
					<div class="scrolled__item">
						<img src="img/scrolled/rove.svg" alt="partner logo">
					</div>
					<div class="scrolled__item">
						<img src="img/scrolled/samana.png" alt="partner logo">
					</div>
				</div>
				<div class="scrolled__line-content">
					<div class="scrolled__item">
						<img src="img/scrolled/4.svg" alt="partner logo">
					</div>
					<div class="scrolled__item">
						<img src="img/scrolled/5.svg" alt="partner logo">
					</div>
					<div class="scrolled__item">
						<img src="img/scrolled/1.svg" alt="partner logo">
					</div>
					<div class="scrolled__item">
						<img src="img/scrolled/rove.svg" alt="partner logo">
					</div>
					<div class="scrolled__item">
						<img src="img/scrolled/2.png" alt="partner logo">
					</div>
					<div class="scrolled__item">
						<img src="img/scrolled/samana.png" alt="partner logo">
					</div>
					<div class="scrolled__item">
						<img src="img/scrolled/3.png" alt="partner logo">
					</div>
					<div class="scrolled__item">
						<img src="img/scrolled/anax.svg" alt="partner logo">
					</div>
					<div class="scrolled__item">
						<img src="img/scrolled/damac.svg" alt="partner logo">
					</div>
					<div class="scrolled__item">
						<img src="img/scrolled/dar.svg" alt="partner logo">
					</div>
					<div class="scrolled__item">
						<img src="img/scrolled/guru.png" alt="partner logo">
					</div>
					<div class="scrolled__item">
						<img src="img/scrolled/mints.svg" alt="partner logo">
					</div>
					<div class="scrolled__item">
						<img src="img/scrolled/omni.svg" alt="partner logo">
					</div>
					<div class="scrolled__item">
						<img src="img/scrolled/rove.svg" alt="partner logo">
					</div>
					<div class="scrolled__item">
						<img src="img/scrolled/samana.png" alt="partner logo">
					</div>
				</div>
			</div>
		</div>
	</div>
</section>