.partners {
	padding: 100px 0;

	&__text {
		display: flex;
		align-items: center;
		gap: 20px;

		& span:first-child {
			display: flex;
			font-size: 325px;
			line-height: 296px;
			letter-spacing: -2px;
			background: linear-gradient(to bottom, #E7B656, #816630);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
		}
	}
}

/* Скролл картинок */
.scrolled {
	// width: 100vw;
	margin-top: -55px;

	&__block {
		position: relative;
		overflow: hidden;
	}

	&__content {
		display: flex;
		width: 100%;
		gap: 25px;
		justify-content: center;
	}

	&__item {
		flex-shrink: 0;
		width: 362px;
		height: 168px;
		padding: 40px 45px;
		border: 1px solid #fff;
		background-color: rgba($color: #ffffff, $alpha: .03);
		backdrop-filter: blur(10px);
		border-radius: 15px;
		display: flex;
		justify-content: center;
		align-items: center;
		transition: opacity .3s;
		opacity: .5;

		&.active {
			opacity: 1;
		}

		& img {
			object-fit: contain;
		}
	}

	&__line {
		position: relative;
		display: flex;
		flex-direction: row;
		gap: 30px;
	}

	&__line-content {
		display: flex;
		gap: 25px;
		flex-direction: row;
		width: 100%;
		animation: scroll 120s infinite linear;
	}
}

@media (max-width: 1440px) {
	.partners {
		padding: 30px 0;

		&__text {
			align-items: center;
			justify-content: center;

			& span:first-child {
				font-size: 220px;
				line-height: 230px;
			}
		}
	}

	.scrolled {
		margin-top: -50px;

		&__item {
			flex-shrink: 0;
			width: 130px;
			height: 60px;
			padding: 10px;
			border-radius: 6px;
		}
	}
}

@media (max-width: 860px) {
	.partners {
		position: relative;

		&__text {
			flex-direction: column;
			gap: 50px;

			& span:first-child {
				font-size: 160px;
				line-height: 144px;
			}

			& span:nth-child(2) {
				width: 100%;
				font-size: 20px;
				line-height: 25px;
				text-align: center;
			}
		}
	}

	.scrolled {
		// margin-top: -180px;
		position: absolute;
		top: 65%;
	}
}

@keyframes scroll {
	0% {
		transform: translateX(0%);
	}

	100% {
		transform: translateX(-100%);
	}
}